<!--
http://sunlightfoundation.com/criminaljustice/data-dictionary/
-->
<h2>Data Dictionary</h2>
<dl>
  <dt><dfn>State</dfn></dt><dd><p>the state the data relates to</p></dd>
  <dt><dfn>Sublocation - city, county, or other local area name, unless the data is ‘Statewide’</p></dd>
  <dt><dfn>Category - primary category that the data falls into, per the state research schema (see below)</p></dd>
  <dt><dfn>Subcategory - secondary category that the data falls into, per the state research schema (see below)</p></dd>
  <dt><dfn>Title - title of the dataset, report, or paper</p></dd>
  <dt><dfn>Description - short description of the contents of the dataset, report, or paper</p></dd>
  <dt><dfn>Format - file type that the data is stored in (.pdf, .xls, .csv, .xml, etc…)</p></dd>
  <dt><dfn>URL - hyperlink to the referenced data</p></dd>
  <dt><dfn>Private/Government - whether the data was created by a private, non-profit, or government (public) entity</p></dd>
  <dt><dfn>Group Name - name of the organization, agency, or group that created the data</p></dd>
  <dt><dfn>Location - if a direct link to the data is not available, a description of where data can be found on the linked page</p></dd>
  <dt><dfn>Associated legislation - legislation associated with the data or that mandated the creation of the data, if applicable</p></dd>
  <dt><dfn>Internet availability? - whether the data can be found on the Internet (Yes/No)</p></dd>
  <dt><dfn>Population data? - whether the data includes population information (Yes/No)</p></dd>
  <dt><dfn>Mappable? - whether the data can be mapped, requires location information (Yes/No)</p></dd>
  <dt><dfn>Is this data updated? - whether the data has been updated recently (Yes/No)</p></dd>
  <dt><dfn>Frequency - how often the data is updated (annually, monthly, daily, etc…)</p></dd>
  <dt><dfn>Data range - the time period the data covers (in years), or the year the report was published</p></dd>
  <dt><dfn>Associated grant -  federal or state grant that funded the creation of the data, if applicable</p></dd>
  <dt><dfn>Tag - related terms, to be used in search functionality</p></dd>
  <dt><dfn>Access type</dfn></dt><dd><p>the level of data accessibility:</p>
  		<dl class="sub-dl">
  			<dt><dfn>Open</dfn></dt><dd><p>data is accessible free of charge via the Internet and downloadable in a format that allows for the data to be easily searched/sorted</p></dd>
  			<dt><dfn>Not machine readable</dfn></dt><dd><p>data is accessible free of charge via the Internet and downloadable in a format that cannot be searched/sorted</p></dd>
  			<dt><dfn>Not machine processable</dfn></dt><dd><p>data is not accessible via the Internet or is not delivered in a digital format
  			<dt><dfn>Restricted</dfn></dt><dd><p>data is released only to certain groups (i.e. academics, practitioners)</p></dd>
  			<dt><dfn>Closed</dfn></dt><dd><p>data is not released or requires payment to be accessed</p></dd>
  		</dl>
  	</dd>
  </dl>
<h2>Research Schema</h2>
<ol class="xoxo">
  <li>Corrections
    <ol class="sub-ol">
      <li>Administration</li>
      <li>Community-Based Corrections</li>
      <li>Death In Custody</li>
      <li>Death Penalty</li>
      <li>Facilities</li>
      <li>Health Care</li>
      <li>Immigration</li>
      <li>Inmates</li>
      <li>Mental Health</li>
      <li>Other Programs</li>
      <li>Performance Measures</li>
      <li>Prison Violence</li>
      <li>Probation & Parole</li>
      <li>Recidivism</li>
      <li>Reentry</li>
      <li>Solitary Confinement</li>
      <li>Treatment Programs</li>
    </ol>
  </li>
  <li>Courts
    <ol class="sub-ol">
      <li>Administration</li>
      <li>Appellate</li>
      <li>Attorney General</li>
      <li>Attorneys</li>
      <li>Caseload</li>
      <li>Community Courts</li>
      <li>Criminal Courts</li>
      <li>Death Penalty</li>
      <li>Equal Justice</li>
      <li>Fees</li>
      <li>Judges</li>
      <li>Juries</li>
      <li>Other Programs</li>
      <li>Performance Measures</li>
      <li>Pretrial</li>
      <li>Public Legal Services</li>
      <li>Sentencing</li>
      <li>Wrongful Convictions</li>
    </ol>
  </li>
  <li>Crime
    <ol class="sub-ol">
      <li>Child Abuse</li>
      <li>Domestic Violence</li>
      <li>Drug</li>
      <li>DUI</li>
      <li>Elder Abuse</li>
      <li>Gangs</li>
      <li>Hate Crime</li>
      <li>Human Trafficking</li>
      <li>Other</li>
      <li>Property Crime</li>
      <li>Sex Crimes</li>
      <li>Violent Crime</li>
      <li>Weapon Crime</li>
    </ol>
  </li>
  <li>Financial
    <ol class="sub-ol">
      <li>Corrections</li>
      <li>Courts</li>
      <li>Law Enforcement</li>
      <li>Juvenile Justice</li>
    </ol>
  </li>
  <li>Juvenile Justice
    <ol class="sub-ol">
      <li>Corrections</li>
      <li>Courts</li>
      <li>Crime</li>
      <li>Delinquents</li>
      <li>Other Programs</li>
      <li>Recidivism</li>
      <li>Status Offenses</li>
    </ol>
  </li>
  <li>Law Enforcement
    <ol class="sub-ol">
      <li>Administration</li>
      <li>Agency Census Information</li>
      <li>Arrests</li>
      <li>Citizen Complaints</li>
      <li>Clery Act</li>
      <li>Crime Analytic Programs</li>
      <li>Crime Data</li>
      <li>Deconfliction</li>
      <li>Officer Deaths</li>
      <li>Other Programs</li>
      <li>Performance Measures</li>
      <li>Police Encounters</li>
      <li>Training Academies</li>
      <li>Use of Force</li>
    </ol>
  </li>
  <li>Miscellaneous
    <ol class="sub-ol">
      <li>Data Accessibility</li>
      <li>Guns</li>
      <li>Indian Country Justice System</li>
      <li>Military Justice System</li>
      <li>State-Specific Topics</li>
    </ol>
  </li>
  <li>Victims
    <ol class="sub-ol">
      <li>Demographics</li>
      <li>Restitution</li>
      <li>Victim Resources</li>
      <li>Vital Statistics</li>
    </ol>
  </li>
</ol>

