<h1>Methodology | Criminal Justice Project - Sunlight Foundation</h1>
<p>The metadata collected for the first six states of our project — Arizona, California, Iowa, New York, Oregon, and Pennsylvania — provide a vast inventory of criminal justice data for each of those states. The process of piloting six states has allowed us to create a methodology for the collection of criminal justice datasets from the remaining 44 states. The inventory is centered around an organizational schema we developed in-house with an intent to get as close to a comprehensive inventory as possible within a reasonable amount of time. Our experience searching through these six states has given us valuable insight into the variety of ways criminal justice resources are made available to the public and beyond, prompting us to revise our approach to data collection for better and more consistent organizational practices moving forward.</p>
<p>The methodology we have devised is intended to collect information about datasets in such a way that allows users to learn about new topics and find more information than they might through a simple internet search. As we collect data, we are also concerning ourselves with the usability of the final product by adding value to the information we are going to display. For example, we intend to make datasets that contain similar information easier to compare by including keyword tags for each dataset we collect. Likewise, we have been linking some metadata to legislation that mandates the creation of, or relates to, the relevant data, along with information about how the data was funded.</p>
<h2>Research Schema and First Steps</h2>
<p>The research schema divides the vast collection of “criminal justice data” into smaller pieces loosely based off of existing schema already available from agencies like the Bureau of Justice Statistics including: law enforcement, courts, corrections, victims, crime, financials, juvenile justice, and miscellaneous topics. Each of these categories has been carefully thought-out and, within them, smaller subcategories more precisely describe the data allowing for data collection to be focused and complete. An example of this research schema has been appended to the end of this methodology.</p>
<p>When collecting data for a new state, data is first gathered from large, well-known sources. This will typically begin with exploring the overarching criminal justice commission within a state, like a state’s statistical analysis center (SAC). Additionally, some states have online open data portals for a multitude of state government agencies. We visit these sites first and mine for relevant criminal justice metadata.</p>
<p>After approaching the state on a wide scale, we use our developed research schema to ensure that we collect data on all germane criminal justice topics. This usually starts with investigating larger state government agencies, like the state police for law enforcement data, and ends with visiting smaller offshoot government agencies or nonprofits for relevant data. For example, we will comb through the state’s corrections department for data on inmates, youth authority websites for juvenile justice data, judicial department websites for caseload and trial data, department of finance websites for criminal justice budget data and so on. We then search for and log independently published studies, many of which might have been produced with access to sensitive data — for research purposes — not normally made available to the public.</p>
<p>This process is repeated for each criminal justice category until the schema is sufficiently and confidently completed. This does not always mean that data is collected for every category, as that data may not be pertinent to a state, may not exist or may not be openly available. In the case that data is not open, we will make a note of the inaccessibility of certain datasets for the purpose of informing the conversation surrounding transparency in criminal justice data. In addition to data collection via the Internet, we will use other methods, such as open records requests, to gather information about the location of criminal justice data that may not be readily available or that we may not know exists.</p>
<h3>Evaluating the Comprehensiveness and Value of Data Beyond the Schema</h3>
<p>Topics that fall outside of the explicit boundaries of the research schema are highlighted if they add particular value to understanding the sphere of criminal justice in any given state. As such, we research hot topics in criminal justice for each state (i.e. realignment in California, stop and frisk in New York) and add these topics of focus to our research schemas.</p>
<p>To make topics easily searchable throughout our inventory of datasets, we add tags to each resource we log. The tags describe the characteristics of each individual dataset. We’re doing this is to ensure that our final product – a searchable database of the information we’ve collected – is easy to use and search through. With tags, searches across datasets and states can be queried with a higher level of detail. Datasets with information on demographics or outcomes can be singled out without having to parse through each resource individually, for example.</p>
<p>Further, as we collect datasets we create metadata about the data we find. This metadata is comprised of data and value fields and defined in the <a href="data-dictionary.html">Data Dictionary</a>.</p>
<p>The research process also allows us to become familiar with legislation that catalyzes or mandates the production of the reports and datasets we encounter. We log these pieces of legislation alongside the datasets, and keep a database of OpenStates (a Sunlight Foundation product that tracks state-level legislation) bills for every state linked to the research schema categories we use to sort our research. Because grants are an important component in the creation and publication of criminal justice data, we link any information about the grant funding source we come across to their respective datasets, too.</p>
<p>Throughout the data collection process, we make contact with experts in the fields of criminal justice to gain a greater understanding of the existence, location, and accessibility of criminal justice data outside of the government. This can include reaching out to nonprofits, other private organizations or journalists who specialize in criminal justice research (i.e. Urban Institute, John Jay College of Criminal Justice). These contacts are highly useful and add great value to the project’s methodology.</p>
<p>Although data collection is performed on a state-by-state basis, it often requires research on the national, regional, or topical scale. For instance, some data is gathered on the national level, like law enforcement officers killed in action (LEOKA) reports. Some criminal justice topics are organized regionally (i.e. Indian Country criminal justice system, comparative city/state studies, high intensity drug trafficking area (HIDTA) program, deconfliction systems), while some are best researched topically (i.e. immigration, identity theft, hate crimes, marijuana decriminalization/legalization).</p>
<p>Finally, we evaluate our data by comparing states and ensuring data quality is consistent over the extent of our collected research. We plan to continue to make this a priority by encouraging community interaction and feedback over the course of the project’s progress.</p>
<hr /><hr /><hr /><hr />
<section>
<h1>State Research Schema</h1>
<ol class="xoxo">
  <li><strong>Law Enforcement</strong>
    <ol class="sub-ol">
      <li>1.1 Administration</li>
      <li>1.2 Agency Census Information</li>
      <li>Arrests</li>
      <li>Citizen Complaints</li>
      <li>Clery Act</li>
      <li>Crime Analytic Programs</li>
      <li>Crime Data</li>
      <li>Deconfliction</li>
      <li>Officer Deaths</li>
      <li>Other Programs</li>
      <li>Performance Measures</li>
      <li>Police Encounters</li>
      <li>Training Academies</li>
      <li>Use of Force</li>
    </ol>
   </li>
   <li><strong>Crime</strong>
    <ol class="sub-ol">
      <li>Child Abuse</li>
      <li>Domestic Violence</li>
      <li>Drug</li>
      <li>DUI</li>
      <li>Elder Abuse</li>
      <li>Gangs</li>
      <li>Hate Crime</li>
      <li>Human Trafficking</li>
      <li>Other</li>
      <li>Property Crime</li>
      <li>Sex Crimes</li>
      <li>Violent Crime</li>
      <li>Weapon Crime</li>
    </ol>
   </li>
   <li><strong>Corrections</strong>
    <ol class="sub-ol">
      <li>Administration</li>
      <li>Community-Based Corrections</li>
      <li>Death In Custody</li>
      <li>Death Penalty</li>
      <li>Facilities</li>
      <li>Health Care</li>
      <li>Immigration</li>
      <li>Inmates</li>
      <li>Mental Health</li>
      <li>Other Programs</li>
      <li>Performance Measures</li>
      <li>Prison Violence</li>
      <li>Probation & Parole</li>
      <li>Recidivism</li>
      <li>Reentry</li>
      <li>Solitary Confinement</li>
      <li>Treatment Programs</li>
    </ol>
   </li>
   <li><strong>Courts</strong>
    <ol class="sub-ol">
      <li>Administration</li>
      <li>Appellate</li>
      <li>Attorney General</li>
      <li>Attorneys</li>
      <li>Caseload</li>
      <li>Community Courts</li>
      <li>Criminal Courts</li>
      <li>Death Penalty</li>
      <li>Equal Justice</li>
      <li>Fees</li>
      <li>Judges</li>
      <li>Juries</li>
      <li>Other Programs</li>
      <li>Performance Measures</li>
      <li>Pretrial</li>
      <li>Public Legal Services</li>
      <li>Sentencing</li>
      <li>Wrongful Convictions</li>
    </ol>
   </li>
   <li><strong>Victims</strong>
    <ol class="sub-ol">
      <li>Demographics</li>
      <li>Restitution</li>
      <li>Victim Resources</li>
      <li>Vital Statistics</li>
    </ol>
   </li>
   <li><strong>Financial</strong>
    <ol class="sub-ol">
      <li>Corrections</li>
      <li>Courts</li>
      <li>Law Enforcement</li>
      <li>Juvenile Justice</li>
    </ol>
   </li>
   <li><strong>Juvenile Justice</strong>
    <ol class="sub-ol">
      <li>Corrections</li>
      <li>Courts</li>
      <li>Crime</li>
      <li>Delinquents</li>
      <li>Other Programs</li>
      <li>Recidivism</li>
      <li>Status Offenses</li>
    </ol>
   </li>
   <li><strong>Miscellaneous</strong>
    <ol class="sub-ol">
      <li>Data Accessibility</li>
      <li>Guns</li>
      <li>Indian Country Justice System</li>
      <li>Military Justice System</li>
      <li>State-Specific Topics</li>
    </ol>
   </li>
 </ol>
</section>