<form id="search" method="get" action="{% url 'haystack_search' %}">
    <div class="row collapse">
            <div class="small-10 columns">
                <input class="autocomplete" autocomplete="off" id="id_q"
                    class="typeahead" name="q"
                    value="{{ form.q.value|default:"" }}" type="search" placeholder="Try 'Juvenile Justice', or look up 'Gangs in North Carolina'">
            </div>
            <div class="small-2 columns">
                <input type="submit" value="Search" class="button postfix">
            </div>
    </div>
</form>
