{% extends 'base.html' %}{% load static from staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.structure.min.css" %}">
{% endblock extrahead %}

{% block content %}{% load highlight %}
    <div class="row">
        <div class="columns large-12">
            <h2>Search</h2>
            {% include "search/_search_form.html" %}
        </div>
    </div>
    {% if selected_facets %}
    <div class="row">
        <div class="columns large-12">
            <ul class="inline-list">
                <li>Selected filters:</li>
            {% for item in selected_facets.values %}
                <li><strong>{{ item }}</strong></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% if query %}
        <div class="columns large-2">

            <h4>Filter by</h4>
            <ul class="stack button-group">
                <li>
                {% if facets.fields.states %}
                    <a href="#" data-dropdown="states" aria-controls="states" aria-expanded="false" class="button secondary dropdown expand">States</a>
                    <ul id="states" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
                    {% for state in facets.fields.states %}
                        <li><a href="{{ request.get_full_path }}&amp;selected_facets=states:{{ state.0|urlencode }}">{{ state.0 }} <strong>({{ state.1 }})</strong></a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <button class="disabled secondary">No States</button>
                {% endif %}
                </li>
                <li>
                {% if facets.fields.group_name %}
                    <a href="#" data-dropdown="groups" aria-controls="groups" aria-expanded="false" class="button secondary dropdown expand">Groups</a>
                    {# Provide only the top 10 groups #}
                    <ul id="groups" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
                    {% for name in facets.fields.group_name|slice:":10" %}
                        <li><a href="{{ request.get_full_path }}&amp;selected_facets=group_name_exact:{{ name.0|urlencode }}">{{ name.0 }} <strong>({{ name.1 }})</strong></a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <button class="disabled secondary">No groups</button>
                {% endif %}
                </li>
                <li>
                {% if facets.fields.sectors %}
                    <a href="#" data-dropdown="sectors" aria-controls="sectors" aria-expanded="false" class="button secondary dropdown expand">Sectors</a>
                    <ul id="sectors" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
                    {% for name in facets.fields.sectors %}
                        <li><a href="{{ request.get_full_path }}&amp;selected_facets=sectors:{{ name.0|urlencode }}">{{ name.0 }} <strong>({{ name.1 }})</strong></a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <button class="disabled secondary">No groups</button>
                {% endif %}
                </li>
            </ul>
        </div>
        <div class="columns large-10">
            <h3>Results</h3>
            {% include "cjdata/_pagination_links.html" with page_obj=page %}
            {% include "search/_results_table.html" with results_list=page.object_list %}
            {% include "cjdata/_pagination_links.html" with page_obj=page %}
        {% else %}
        <div class="columns large-12">
            <p>Stuck for ideas? Try searching for information about <q><a href="{% url 'haystack_search' %}?q=Juvenile%20Justice">Juvenile Justice</a></q>, or look up <a href="{% url 'haystack_search' %}?q=gangs&amp;selected_facets=states:North Carolina">gangs in North Carolina</a>.</p>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block jslibs %}
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/search.js" %}"></script>
{% endblock jslibs %}
{% block js %}
<script type="text/javascript">
var searchURL = '{% url "haystack_autocomplete" %}';
</script>
{% endblock js %}