{% extends 'base.html' %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css" media="screen">
        .highlighted {
            font-weight: 1000;
        }
    </style>{% endblock extrahead %}

{% block content %}{% load highlight %}
    <div class="row">
        <div class="columns large-12">
            <h2>Search</h2>

            <form method="get" action=".">
                <div class="row collapse">
                        <div class="small-9 columns">
                            {{ form.q }}
                        </div>
                        <div class="small-2 columns">
                            <input type="submit" value="Search" class="button postfix">
                        </div>
                        <div class="small-1 columns">
                            <a href="{% url 'haystack_search' %}" class="button secondary postfix">Reset</a>
                        </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% if query %}
        <div class="columns large-2">
            <h4>Filter</h4>
            <dl>
                {% if facets.fields.states %}
                    <dt>States</dt>
                    {% for state in facets.fields.states %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=states:{{ state.0|urlencode }}">{{ state.0 }}</a> ({{ state.1 }})</dd>
                    {% endfor %}
                {% else %}
                    <p>No state facets.</p>
                {% endif %}
                {% if facets.fields.group_name %}
                    <dt>Groups</dt>
                      {# Provide only the top 10 groups #}
                    {% for name in facets.fields.group_name|slice:":10" %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=group_name_exact:{{ name.0|urlencode }}">{{ name.0 }}</a> ({{ name.1 }})</dd>
                    {% endfor %}
                {% else %}
                    <p>No group facets.</p>
                {% endif %}
                {% if facets.fields.sectors %}
                    <dt>Sectors</dt>
                    {% for sector in facets.fields.sectors %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=sectors:{{ sector.0|urlencode }}">{{ sector.0 }}</a> ({{ sector.1 }})</dd>
                    {% endfor %}
                {% else %}
                    <p>No sector facets.</p>
                {% endif %}
                {% if facets.fields.tags %}
                    <dt>Tags</dt>
                    {% for tag in facets.fields.tags %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=tags:{{ tag.0|urlencode }}">{{ tag.0 }}</a> ({{ tag.1 }})</dd>
                    {% endfor %}
                {% else %}
                    <p>No tag facets.</p>
                {% endif %}
            </dl>
        </div>
        <div class="columns large-10">
            <h3>Results</h3>
            {% include "search/_pagination_links.html" %}
            {% include "search/_results_table.html" with results_list=page.object_list %}
            {% include "search/_pagination_links.html" %}
        </div>
        {% else %}
        <div class="columns large-12">
            <p>Stuck for ideas? Try searching for information about <q><a href="{% url 'haystack_search' %}?q=Juvenile%20Justice">Juvenile Justice</a></q>, or look up <a href="{% url 'haystack_search' %}?q=gangs&amp;selected_facets=states:North Carolina">gangs in North Carolina</a>.</p>
        </div>
        {% endif %}
    </div>
{% endblock %}