{% extends 'base.html' %}{% load static from staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css" media="screen">
        .highlighted {
            font-weight: 1000;
        }
        #results > li {
            border-bottom: 2px solid #EEEEEE;
            padding-bottom: 6px;
            margin-bottom: 10px;
        }
        .open {
            left: 0 !important;
        }
    </style>{% endblock extrahead %}

{% block content %}{% load highlight %}
    <div class="row">
        <div class="columns large-12">
            <h2>Search</h2>
            <form id="search" method="get" action=".">
                <div class="row collapse">
                        <div class="small-9 columns">
                            <input autocomplete="off" id="{{ form.q.id_for_label }}"
                                class="typeahead" name="{{ form.q.html_name }}"
                                value="{{ form.q.value|default:"" }}" type="search"
                                data-dropdown="auto-dropdown" aria-controls="auto-dropdown" aria-expanded="false">
                            <ul class="f-dropdown" id="auto-dropdown" aria-hidden="true" tabindex="-1"></ul>
                        </div>
                        <div class="small-2 columns">
                            <input type="submit" value="Search" class="button postfix">
                        </div>
                        <div class="small-1 columns">
                            <a href="{% url 'haystack_search' %}" class="button secondary postfix">Reset</a>
                        </div>
                </div>
            </form>
        </div>
    </div>
    {% if selected_facets %}
    <div class="row">
        <div class="columns large-12">
            <ul class="inline-list">
                <li>Selected filters:</li>
            {% for item in selected_facets.values %}
                <li><strong>{{ item }}</strong></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% if query %}
        <div class="columns large-2">

            <h4>Filter by</h4>
            <ul class="stack button-group">
                <li>
                {% if facets.fields.states %}
                    <a href="#" data-dropdown="states" aria-controls="states" aria-expanded="false" class="button secondary dropdown expand">States</a>
                    <ul id="states" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
                    {% for state in facets.fields.states %}
                        <li><a href="{{ request.get_full_path }}&amp;selected_facets=states:{{ state.0|urlencode }}">{{ state.0 }} <strong>({{ state.1 }})</strong></a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <button class="disabled secondary">No States</button>
                {% endif %}
                </li>
                <li>
                {% if facets.fields.group_name %}
                    <a href="#" data-dropdown="groups" aria-controls="groups" aria-expanded="false" class="button secondary dropdown expand">Groups</a>
                    {# Provide only the top 10 groups #}
                    <ul id="groups" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
                    {% for name in facets.fields.group_name|slice:":10" %}
                        <li><a href="{{ request.get_full_path }}&amp;selected_facets=group_name_exact:{{ name.0|urlencode }}">{{ name.0 }} <strong>({{ name.1 }})</strong></a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <button class="disabled secondary">No groups</button>
                {% endif %}
                </li>
                <li>
                {% if facets.fields.sectors %}
                    <a href="#" data-dropdown="sectors" aria-controls="sectors" aria-expanded="false" class="button secondary dropdown expand">Sectors</a>
                    <ul id="sectors" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
                    {% for name in facets.fields.sectors %}
                        <li><a href="{{ request.get_full_path }}&amp;selected_facets=sectors:{{ name.0|urlencode }}">{{ name.0 }} <strong>({{ name.1 }})</strong></a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <button class="disabled secondary">No groups</button>
                {% endif %}
                </li>
            </ul>
        </div>
        <div class="columns large-10">
            <h3>Results</h3>
            {% include "search/_pagination_links.html" %}
            {% include "search/_results_table.html" with results_list=page.object_list %}
            {% include "search/_pagination_links.html" %}
        {% else %}
        <div class="columns large-12">
            <p>Stuck for ideas? Try searching for information about <q><a href="{% url 'haystack_search' %}?q=Juvenile%20Justice">Juvenile Justice</a></q>, or look up <a href="{% url 'haystack_search' %}?q=gangs&amp;selected_facets=states:North Carolina">gangs in North Carolina</a>.</p>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block jslibs %}
<script src="{% static "js/foundation/foundation.dropdown.js" %}"></script>
{% endblock jslibs %}
{% block js %}
<script type="text/javascript">
    var lastSearch = null;
    jQuery(document).ready(function($) {
        var results_dropdown = $('#auto-dropdown');

        $('form#search').on('input', '.typeahead', function() {
            var search_input = $(this);
            var search = search_input.val();
            console.log( search );
            if (search.length > 2) {
                if (search != lastSearch) {
                    lastSearch = search;
                    $.getJSON('{% url "haystack_autocomplete" %}', {q: search.trim()}, function(json, textStatus) {
                        results_dropdown.empty();
                        if (json.results) {
                            var results_list = $.map(json.results, function(val, i) {
                                return val.value;
                            });

                            for (var i = 0; i < results_list.length; i++) {
                                $('<li><a href="#">' + results_list[i] + '</a></li>').appendTo(results_dropdown);
                            };
                            results_dropdown.foundation('dropdown', 'open');
                        } else {
                            console.log('Error fetching/parsing autocomplete results');
                        }
                    });
                }
            } else {
                results_dropdown.empty();
            }
        });
    });
</script>
{% endblock js %}