<!doctype html>{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hall of Justice</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    <style type="text/css" media="screen">
        table {
            width: 100%;
        }
    </style>
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="columns large-12">
                <h1>Testing Criminal Justice Data</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">{% block content %}{% endblock %}</div>
        </div>
    </div>

    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script>
    $(document).foundation();
    </script>
</body>

</html>
